.archive {

}

.archive-post-wrap {
    padding: 15px;
}


.archive-post {
    box-shadow: 1px 1px 4px $grid-shadow;
    padding: 15px;
    padding-bottom: 45px;
    background-color: $grid-background;
    border: 1px solid $grid-border;
    border-radius: 3px;
}

.archive-post img {
    max-width: 100%;
    height: auto;
}

.archive-post > p > a {
    background-color: $grid-button-color;
    padding: 5px;

    color: white;
    text-decoration: none;

    border-radius: 5px;
    border: 0px solid $grid-button-border;
    border-color: $grid-button-border;
    border-style: solid;
    border-right-width: 2px;
    border-bottom-width: 2px;
    float: left;
    margin-right: 5px;

}

.archive-post > p > a:hover {
    text-decoration: underline;

    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.archive-post > ul {
    padding-left: 15px;
}

.archive-post > ul > li {
    list-style: disc;
}

.archive-post h4 {
    margin-bottom: -12px;
}

.archive-post-title {

}

.archive-page-title {
    margin-left: 15px;
    margin-bottom: 5px;
}
