$lightgreen:            #70CF1B;
$darkerlightgreen:      #50b015;
$darkgreen:             #264B05;
$darkgrey:              #282828;


$h1_Title:              white;
$footer:                white;
$footerHover:           #933;
$footerShadow:          #121;

$copyright:             #ddd;
