/*
 =======================================================================
 The whole project is build with sass for clear descriptions look there
 =======================================================================
*/
.row::after {
  content: "";
  clear: both;
  display: table; }

* {
  box-sizing: border-box; }

[class*="col-"] {
  float: left;
  width: 100%; }

.hid-no-desk {
  display: none; }

@media only screen and (min-width: 600px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; }

  .hid-no-desk {
    display: block;
    height: 30px;
    width: 8.33%;
    float: left; } }
[class*="col-"] {
  border: solid green 0px; }

.hid-no-desk {
  border: solid red 0px; }

@media only screen and (min-width: 600px) {
  .projecten,
  .cvee {
    position: relative; }

  .dropdown-content {
    position: absolute;
    visibility: hidden;
    margin-top: -1px; }

  .dropdown-content a {
    display: block; }

  .projecten:hover .dropdown-content,
  .projecten a:focus + .dropdown-content,
  .cvee:hover .dropdown-content,
  .cvee a:focus + .dropdown-content,
  .dropdown-content a:focus,
  .dropdown-content a:focus ~ a {
    visibility: visible;
    border: 1px solid black; } }
.header-top-bar {
  background-color: #264B05;
  height: 35px; }

.header-main {
  background-image: url("../images/cutheader.jpg");
  height: 150px; }

ul {
  list-style-type: none; }

.header-main-nav {
  margin: 0px; }

.header-main-nav li {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

.header-main-nav li a {
  background: linear-gradient(#264B05 -40%, #70CF1B, #264B05 140%);
  color: azure;
  border: solid black 1px;
  text-shadow: 1px 1px 0px #264B05, 2px 2px 1px #264B05;
  height: 50px;
  width: 100%; }

.header-main-nav li a:hover,
.header-main-nav li a:focus {
  background: linear-gradient(#264B05 -10%, #50b015, #264B05 110%); }

nav,
.header-main-nav,
.header-main-nav li,
.header-main-nav > .dropdown-nav {
  padding: 0px; }

.hid-if-mob {
  display: none; }

@media only screen and (min-width: 600px) {
  .hid-if-mob {
    display: block; } }
.dropdown-content,
.dropdown-content li a {
  width: 100%; }

.header-main-nav li a,
.dropdown-content li a {
  padding: 15px; }

.headwrap {
  padding: 0px;
  margin: 0px; }

@media only screen and (min-width: 600px) {
  .header-main-nav li li a {
    height: auto; }

  .header-main-nav {
    padding-left: 50px;
    margin-left: -50px; } }
.header-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  margin: 0px;
  padding: 0px;
  height: 50px;
  text-shadow: 1px 1px 0px #264B05, 2px 2px 1px #264B05; }

@media only screen and (min-width: 600px) {
  .header-logo {
    float: left; } }
.footer {
  position: relative;
  top: 30px; }

.footer-visie,
.footer-linkbox a {
  font-size: 0.8rem; }

.footer-visie {
  margin: 0 0 6px 0; }

.footer-visie-bottom {
  padding-top: 6px;
  font-size: 0.85rem; }

.footer-h5 {
  color: #264B05;
  text-shadow: 1px 1px 0px #121, 1px 1px 1px #121;
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.05rem;
  padding: 0 5px; }

.footer-box {
  height: 100%;
  padding: 10px; }

.upper-footer {
  background-color: #70CF1B;
  padding: 0 2.5%;
  margin-bottom: 0px; }

.lower-footer {
  margin-top: 0px;
  background-color: #264B05;
  padding: 15px 2.5%; }

.footer-copy {
  padding: 0 10px; }

.footer-middle-box {
  border-left: solid black 1px;
  border-right: solid black 1px; }

.footer-linkbox {
  padding-top: 10px; }

.footer-link {
  text-align: center;
  text-decoration: none;
  margin: 0px; }

.footer-link a {
  padding: 2px;
  cursor: pointer;
  text-decoration: none; }

.footer-link a,
.footer-visie {
  text-shadow: 1px 1px 0px #264B05; }

.footer-link:hover a {
  color: #933; }

.lower-footer,
.footer-link a,
.footer-visie {
  color: white; }

.header-main-nav li,
.header-main-nav li a,
.dropdown-content a {
  cursor: pointer;
  text-align: center;
  text-decoration: none; }

ul {
  padding: 0px; }

ul li {
  margin: 15px 0px; }

#overmij-wat_kan_ik ul {
  margin-top: 40px;
  list-style-type: disc;
  list-style-position: inside; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0px; }

footer, main, header {
  margin-left: 0px;
  margin-right: 0px; }

* {
  font-size: 1rem; }

html {
  font-size: 16px; }

h1 {
  color: #264B05;
  font-size: 1.64rem;
  font-weight: 500; }

h2 {
  color: #252525;
  text-align: center;
  font-size: 1.175rem;
  font-weight: 450; }

h3 {
  color: #005500;
  text-align: left;
  font-size: 1.125rem; }

h3 a {
  color: darkgreen; }

html {
  font-family: "Lucida Sans", sans-serif;
  display: block;
  z-index: 0; }

.title-wrap {
  padding: 15px 15px; }

.title-head {
  border-radius: 2px;
  border: grey solid 1px;
  display: table;
  padding: 10px 15px 20px 15px;
  margin: 15px 0px 0px 0px; }

.title-head h1 {
  text-align: center;
  padding: 5px;
  margin: 5px 0px; }

.title-p-wrap p {
  text-align: left;
  margin: 7px 0px 0px 0px;
  padding: 5px 10px;
  width: 100%; }

.title-p-wrap p strong a {
  color: black;
  cursor: pointer;
  padding: 0px; }

.title-p-wrap p strong a:hover {
  color: #000;
  text-shadow: 1px 1px 1px #080; }

@media (min-width: 600px) {
  .title-wrap {
    padding: 0px 15px;
    margin: 0px;
    text-decoration: none; }

  .title-head p {
    width: 50%;
    float: left; } }
.third-layer-wrap {
  padding: 0px 15px; }

.video-wrap {
  padding: 15px; }

.third-layer {
  border-radius: 2px;
  border: grey solid 1px;
  padding: 15px 30px;
  margin: 30px 0px 0px 0px; }

.third-layer h2 {
  padding: 10px;
  margin: 0px; }

.third-layer h3 {
  padding: 20px 0px 5px 0px;
  margin: 0px; }

.third-layer p {
  padding: 0px;
  margin: 0px; }

.third-layer a {
  color: black;
  cursor: pointer;
  padding: 0px;
  margin-top: 0px; }

.third-layer a:hover {
  color: #000;
  text-shadow: 1px 1px 1px #080; }

.project_nv img {
  max-width: 100%;
  margin: 0px 0px; }

.project_nv {
  padding: 10px; }

.project_nv p {
  margin: 0px 5px; }

.project_nv h3 {
  margin: 0px 5px; }

.vwrap {
  padding: 0px;
  margin: 0px; }

.fourth-layer-extra {
  text-shadow: 3px 2px 2px black;
  box-shadow: 3px 3px 8px 1px black; }

.header-logo {
  border: solid black 1px; }

.fourth-layer-wrap {
  margin-top: 30px;
  background-color: none;
  padding: 0px 15px 0px 0px;
  margin: 0px; }

#project-video iframe {
  padding: 5px;
  margin: 0px;
  border-radius: 10px;
  width: 100%;
  height: 50vw;
  margin: 0px; }

@media only screen and (min-width: 600px) {
  #project-video iframe {
    height: 30vw; } }
#project-video {
  padding: 15px 15px 0px 15px;
  margin: 0px; }

#video-beschrijving {
  padding: 15px 5% 0px 5%;
  margin: 0px;
  height: 200px;
  width: 100%; }

.project-video--side:hover,
.video:hover,
.project-video--side:focus,
.video:focus {
  background: linear-gradient(black -5%, grey 30%, white, grey 70%, black 105%); }

.project-video--side,
.video {
  background: linear-gradient(black -5%, grey, black 105%);
  color: azure;
  border: solid black 1px; }

.project-video--side {
  margin-top: 15px;
  background-color: none;
  padding: 16px;
  width: 50%;
  float: left;
  border: solid #010101 2px;
  min-height: 380px; }

@media (min-width: 600px) {
  .project-video--side {
    width: 100%;
    float: none;
    min-height: 0px; } }
.project-video--side h2 {
  font-size: 15px;
  text-align: left;
  padding: 0px;
  margin: 0px 0px 4px 0px; }

.project-video--side img {
  width: 100%;
  height: 100%;
  border: solid 1px #111;
  padding: 0px; }

.video-button {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
