
// project video styles
#project-video iframe {
	padding: 5px;
	margin: 0px;
	border-radius: 10px;
	width: 100%;
	height: 50vw;
	margin: 0px;
}

@media only screen and (min-width: 600px) {
	#project-video iframe {
		height: 30vw;
	}
}


#project-video {
	padding: 15px 15px 0px 15px;
	margin: 0px;
}

// video beschrijving
#video-beschrijving {
	padding: 15px 5% 0px 5%;
	margin: 0px;
	height: 200px;
	width: 100%;
}

.project-video--side:hover,
.video:hover,

.project-video--side:focus,
.video:focus {
	background: linear-gradient(black -5%, grey 30%, white, grey 70%, black 105%);
}

.project-video--side,
.video {
	background: linear-gradient(black -5%, grey, black 105%);
	color: azure;
	border: solid black 1px;
}

.project-video--side {
	margin-top: 15px;
	background-color: none;
	padding: 16px;
	width: 50%;
	float:left;
	border: solid rgb(1,1,1) 2px;
}

@media(min-width:600px)  {
	.project-video--side {
		width: 100%;
		float:none;
		min-height: 0px;
	}
}

.project-video--h2 {
	font-size: 15px;
	text-align: left;
	padding: 0px;
	margin: 0px 0px 4px 0px;
}

.project-video--img {
	width: 100%;
	border: solid 1px #111;
	padding: 0px;
}

.video-button {
	cursor: pointer;
}
