$lightgreen:             #70CF1B;
$darkerlightgreen:       #50b015;
$darkgreen:              #264B05;
$darkgrey:               #282828;

$h1_Title:               white;

$footer:                 white;
$footerHover:            #933;
$footerShadow:           #121;
$copyright:              #ddd;

$sidebarBorder:          #9f9f9f;

$background:             white;
$contentContain_shadow:  #aaa;
$contentContain_BColor:  white;

$grid-shadow:            rgba(70, 150, 18, 0.35);
$grid-background:        white;
$grid-button-color:      $lightgreen;
$grid-button-border:     $darkerlightgreen;
$grid-button-text-color: white;

$foot-title:             $darkgreen;
$foot-mid-borders:       black;
$foot-content:           white;
$foot-a:                 white;
$foot-a-hover:           brown;
