
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Ontwikkelomgeving_portfolio/vaandre/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Ontwikkelomgeving_portfolio/vaandre/index.php [L]
</IfModule>

# END WordPress
