/****
* creates the correct spacing for the nav
****/

.header-li a,
.dropdown-content li a {
    padding: 15px;
}

.header-li,
.dropdown-content li {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-title {
    display: block;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-main-ul {
    margin: 0px;
}

// removes unnecessary padding inherited from the grid
nav,
.header-main-ul,
.header-li,
.header-main-ul > .dropdown-nav {
    padding: 0px;
}

.headwrap {
    padding: 0px;
    margin: 0px;
}

/****
* creates the correct width for the navigation
****/
.dropdown-content,
.dropdown-content li,
.dropdown-content li a,
.header-li a {
    width: 100%;
}

.dropdown-title {
    min-width: 140px;
}

.header-li a,
.dropdown-title {
    height: 50px;
}

.dropdown-content li a {
    height: auto;
}
