.container {
    padding: 30px;
    border: #bbb solid 1px;
    background-color: #fff;
}

.small-container {
    padding: 0px 15px;
}

.third-layer--h2 {
	padding: 10px;
	margin: 0px;
}
.third-layer--h3 {
	padding: 20px 0px 5px 0px;
	margin: 0px;
}
.third-layer--p {
	padding: 0px;
	margin: 0px;
}

// Paragraph link styles
.third-layer--a {
	color: black;
	cursor: pointer;
	padding: 0px;
	margin-top: 0px;
}

.third-layer a:hover {
	color: #000;
	text-shadow: 1px 1px 1px #080;
}
