.container {
    padding: 30px;
    background-color: $contentContain_BColor;
    box-shadow:
        4px 0px 4px -4px $contentContain_shadow,
        -4px 0px 4px -4px $contentContain_shadow;
}

.small-container {
    padding: 0px 15px;
}
