.upper-footer {
    background-color: $lightgreen;
    padding: 0 2.5%;
    margin-bottom: 0px;
}

.lower-footer {
    margin-top: 0px;
    background-color: $darkgreen;
    padding: 15px 2.5%;
}

.footer-copy {
    color: $copyright;
    padding: 0 10px;
    text-align: center;
}

#foot2 {
    border-left: solid black 1px;
    border-right:  solid black 1px;
}

.widget-foot-title {
    color: $foot-title;
    text-shadow:
        1px 1px 0px $footerShadow,
        1px 1px 1px $footerShadow;

    text-align: center;
    margin-bottom: 5px;
    font-size: 1.05rem;
    padding: 0 5px;
}

.widget-foot,
.widget-foot li,
.widget-foot p,
.widget-foot a {
    margin-top: 10px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 0px $darkgreen;
    text-decoration: none;
}

.widget-foot a {
    margin: 0;
    width: 100%;
    padding: 8px 3px;
}

.widget-foot a:hover {
    color: $foot-a-hover;
}
