<!--main -->
<div class="float-l col-xs-1"><br></div>

<div class="float-l col-xs-10 container">
    <div class="row title-wrap">
        <div class="title-head float-l col-xs-12 col-m-12">
            <h1>Sorry</h1>

            <div class="row">
                <div class="float-l col-xs-12 col-m-6 small-container">
                    <p>
                        We hebben hard gezocht maar uw gevraagde pagina niet gevonden hoogst waarschijnlijk bestaat deze pagina niet.
                        <br><br>
                        Probeer anders een van de pagina's in de navigatie hierboven.
                    </p>
                </div>
            </div>
        </div> <!-- end of titlehead-->
    </div> <!-- end of titlewrap-->

    <div class="row">
        <br>
        <a class="back-to-top-link" href="#top">Terug naar boven</a>
    </div>
</div> <!-- end of container-->
<div class="float-l col-xs-1"><br></div>
