<!--main -->
<div class="float-l col-xs-1"><br></div>

<div class="float-l col-xs-10 container">
    <div class="row title-wrap">
        <div class="title-head float-l col-xs-12 col-m-12">
            <h1>Bewijsstukken</h1>

            <div class="row title-p-wrap">
                <p>Op deze pagina kun je vinden welke certificaten ik aan mulockhouwer overgehouden heb in het stuk <strong><a href="#bewijsstukken-mulockhouwer_fornhese">Mulock Houwer</a></strong></p>

                <p>Ook kan je vinden welke certificaten ik heb van het reacollege in het stuk <strong><a href="#bewijsstukken-rea_college">Rea college</a></strong></p>
            </div>
            <div class="row title-p-wrap">
                <p>Als laatst kun je mijn stage contracten vinden in het stuk <strong><a href="#bewijsstukken-werkervaringen">Werkervaringen</a></strong></p>
            </div>
        </div> <!-- end of titlehead-->
    </div> <!-- end of titlewrap-->

    <div class="row">
        <!--Mulockhouwer certificaten-->
        <div class="float-l col-xs-6 col-m-6 small-container">
            <section id="bewijsstukken-mulockhouwer_fornhese">
            	<h2>Mulockhouwer Fornhese</h2>

        		<h3>Ecomomie certificaat kader leerjaar3</h3>
                <a href="view/assets/pdf/Mulockhouwer/Economie_KSE3.pdf" rel="nofollow" target="_blank">link</a>

        		<h3>Engels certificaat vmbo kader leerjaar 1</h3>
                <a href="view/assets/pdf/Mulockhouwer/Engels_KSE1.pdf" rel="nofollow" target="_blank">link</a>

        		<h3>Engels certificaat vmbo kader leerjaar 2</h3>
                <a href="view/assets/pdf/Mulockhouwer/Engels_KSE2.pdf" rel="nofollow" target="_blank">link</a>

        		<h3>Engels certificaat vmbo kader leerjaar 3</h3>
                <a href="view/assets/pdf/Mulockhouwer/Engels_KSE3.pdf" rel="nofollow" target="_blank">link</a>

        		<h3>Geschiedenis certificaat vmbo kader leerjaar2</h3>
                <a href="view/assets/pdf/Mulockhouwer/Geschiedenis_KSE2.pdf" rel="nofollow" target="_blank">link</a>

        		<h3>Nederlands certificaat vmbo kader leerjaar 1</h3>
                <a href="view/assets/pdf/Mulockhouwer/Nederlands_KSE1.pdf" rel="nofollow" target="_blank">link</a>

        		<h3>Nederlands certificaat vmbo kader leerjaar 2</h3>
                <a href="view/assets/pdf/Mulockhouwer/Nederlands_KSE2.pdf" rel="nofollow" target="_blank">link</a>

        		<h3>Nederlands certificaat vmbo kader leerjaar 3</h3>
                <a href="view/assets/pdf/Mulockhouwer/Nederlands_KSE3.pdf" rel="nofollow" target="_blank">link</a>

        		<h3>Wiskunde certificaat vmbo kader leerjaar 1</h3>
        		<a href="view/assets/pdf/Mulockhouwer/Wiskunde_KSE1.pdf" rel="nofollow" target="_blank">link</a>
            </section>
        </div>

        <!--Rea college certificaten-->
        <div class="float-l col-xs-6 float-l col-m-6 small-container">
            <section id="bewijsstukken-rea_college">
            	<h2>Rea college</h2>

            	<h3>Nti certificaat Activiteiten begeleiding</h3>
            	<p>In deze module werd geleerd hoe je activiteiten moet organizeren en met welke variabelen je rekening moet houden.
                    <a href="view/assets/pdf/Rea_College/Activiteitenbegeleiding_SPW.pdf" rel="nofollow" target="_blank">link</a>
                </p>


        		<h3>Nti certificaat Begeleiden SPW3</h3>
        		<p>In deze module werd geleerd waar je op moet letten op moment dat je iemand begeleid.
                    <a href="view/assets/pdf/Rea_College/Begeleiden_SPW.pdf" rel="nofollow" target="_blank">link</a>
                </p>

        		<h3>Volledig ECDL certificaat</h3>
        		<p>Dit certificaat bevat word, exel, powerpoint, basis ict, windowsXp, Digiveiligheid, outlook + internetexplorer.
                    <a href="view/assets/pdf/Rea_College/Ecdl_Volledig.pdf" rel="nofollow" target="_blank">link</a>
                </p>

                <h3>Nti certificaat Methodische vaardigheden 1</h3>
        		<p>Tijdens deze module werd je aangeleerd welke stappen je moet volgen in bepaalde werk situaties.
                    <a href="view/assets/pdf/Rea_College/Methodishe_Vaardigheden1_SPW.pdf" rel="nofollow" target="_blank">link</a>
                </p>

        		<h3>Nti certificaat Sociale vaardigheden</h3>
        		<p>Tijdens deze module werd aangeleerd hoe je het beste op een ethishe manier met moeilijke situaties op een sociale manier kan omgaan
                    <a href="view/assets/pdf/Rea_College/Sociale_vaardigheden_SPW.pdf" rel="nofollow" target="_blank">link</a>
                </p>
            </section>

            <section id="bewijsstukken-werkervaringen">
                <h2>Werkervaringen</h2>

                <h3>Getuigschrift Boekenfestijn</h3>
            	<a href="view/assets/pdf/Werkervaring_bewijzen/Getuigschrift_boekenfestijn.pdf" rel="nofollow" target="_blank">link</a>

        		<h3>Stage contract Careyn</h3>
        		<a href="view/assets/pdf/Werkervaring_bewijzen/Stagecontract_De_Lichtkring.pdf" rel="nofollow" target="_blank" >link</a>

        		<h3>Stage contract Zorgboerderij Den Hoet</h3>
        		<a href="view/assets/pdf/Werkervaring_bewijzen/Stagecontract_Zorgboerderij_den_Hoet.pdf" rel="nofollow" target="_blank" >link</a>

            </section>
        </div>
    </div> <!-- end of row-->

    <div class="row">
        <br>
        <a class="back-to-top-link" href="#top">Terug naar boven</a>
    </div>
</div>  <!-- end of container-->
<div class="float-l col-xs-1"><br></div>
