<!--main -->
<div class="float-l col-xs-1"><br></div>

<div class="float-l col-xs-10 container">
    <div class="row title-wrap">
        <div class="title-head float-l col-xs-12 col-m-12">
            <h1>Contact</h1>

            <!-- <p>Op deze pagina kan je lezen wie ik ben in het stuk <strong><a href="#overmij-wie_ben_ik">Wie ben ik?</a></strong></p>

            <p>Ook kan je lezen over wat mijn huidige skillset is als developer in het stuk <strong><a href="#overmij-wat_kan_ik">Wat kan ik?</a></strong></p>

            <p>Als laatst kun je lezen wat mijn ambities zijn in het stuk <strong><a href="#overmij-wat_zijn_mijn">Wat zijn mijn ambities?</a></strong></p> -->
        </div> <!-- end of titlehead-->
    </div> <!-- end of titlewrap-->

    <div class="row">
        <div class="float-l col-xs-6 col-m-6 small-container">
            <section id="contact-bedankt">
                <h2>Bedankt!</h2>
                <p>
                    Ik hoop dat u geinspireerd bent door mijn website. Mocht u gebruik willen maken van mijn vaardigheden kunt u mij via het onderstaande emailadres benaderen.

                    <br><br>Vriendelijke groeten,

                    <br><br>Armand van Alphen
                    <br>Email:Armaniimus-Webdevelopment@outlook.com
                </p>
            </section>
        </div>

        <div class="float-l col-xs-6 col-m-6 small-container">
            <section>
                <img src="view/assets/images/pagina/contact_plaatje.jpg" alt="email_picture" width="100%">
            </section>
        </div>
    </div> <!-- end of row-->

    <div class="row">
        <br>
        <a class="back-to-top-link" href="#top">Terug naar boven</a>
    </div>
</div> <!--end of container -->
<div class="float-l col-xs-1"><br></div>
