<!--main -->
<div class="float-l col-xs-1"><br></div>

<div class="float-l col-xs-10 container">
    <div class="row title-wrap">
        <div class="title-head float-l col-xs-12 col-m-12">
            <h1>CV</h1>

            <div class="row title-p-wrap">
                <p>Op deze pagina kan je lezen welke stages ik gedaan heb in het stuk <strong><a href="#cv-stages">Stages</a></strong></p>

                <p>Ook kan je lezen welke opleidingen gevolgt heb in het stuk <strong><a href="#cv-opleidingen">Opleidingen</a></strong></p>
            </div>
            <div class="row title-p-wrap">
                <p>Als laatst kun je lezen wat voor aanvullende activiteiten ik gedaan heb in het stuk <strong><a href="#cv-aanvullende_activiteiten">Aanvullende_activiteiten</a></strong></p>
            </div>
        </div> <!-- end of titlehead-->
    </div> <!-- end of titlewrap-->

    <div class="row">
        <div class="float-l col-xs-12 col-xl-6 small-container">
            <section id="cv-stages">
                <h2 class="cv--section--h2">Stages</h2>

                <h3>Impact4roi</h3>
                <p>Aug 2017 –  feb 2018, Nieuwegein, Stagiair applicatie en mediaontwikkeling</p>
                <p>Gedurende mijn stage heb ik het bedrijf geholpen met het repareren van 45 aan elkaar verbonden sites, Enkele hiervan zijn <a href="http://surinaamsevlag.nl" rel="nofollow">surinaamsevlag.nl</a>,  <a href="http://vlagengeland.nl" rel="nofollow">vlagengeland.nl</a>, andere vlaggen zijn te vinden via <a href="http://allevlaggenvandewereld.nl/" rel="nofollow">allevlaggenvandewereld.nl</a>.</p>


                <h3>Boekenfestijn</h3>
                <p>Juli 2014 –  okt 2014, IJsselstein, stagiaire magazijnmedewerker</p>
            	<p>Gedurende mijn stage was ik verantwoordelijk voor het voorraadbeheer. Zoals de goederen uitpakken, het tellen controleren en het prijzen daarvan.</p>
            	<br>

                <h3>De Lichtkring Careyn</h3>
            	<p>Juni 2013 – dec 2013, Utrecht stagiaire activiteitenbegeleider</p>
            	<p>Mijn taken gedurende mijn stage waren het klaarzetten en begeleiden van de activiteiten en hierin een veilige situatie creëren en waarborgen vooral om vallen te voorkomen.</p>
            	<br>

                <h3>Den Hoet</h3>
                <p>Aug 2012 – feb2013, Utrecht, stagiaire zorgboerderij</p>
            	<p>Gedurende mijn stage begeleide ik een oudere man met spasme bij zijn activiteiten op zorg boerderij Den Hoet. Hier moest ik letten op val gevaar en of de activiteiten om hygiënische redenen goed uitgevoerd werden.</p>
            	<br>

                <h3>Het Plaza</h3>
            	<p>Mei 2011 – juni 2011, Ermelo, stagiaire jongerenwerker</p>
            	<p>Hier hielp ik met het klaarzetten en begeleiden van activiteiten, tevens zorgde ik hier voor een veilige rustige situatie en draaide mee met de bar dienst.</p>
            	<br>

                <h3>Albert Heijn</h3>
            	<p>Feb 2009 – jan 2011, Utrecht, stagiaire als vakkenvuller</p>
            	<p>Mijn taken hier waren om de vakken netjes te vullen en om klanten te helpen bij hun vragen</p>
            	<br>

                <h3>ATC Mulock Houwer</h3>
            	<p>Aug 2009 – juni 2010, Amersfoort, stagiaire</p>
            	<p>Mijn taken hier waren heel divers de ene dag waren we bezig met het folderen van reclame de andere dag met een van de andere taken zoals schuifdeursloten repareren, mobieltjes sorteren voor de Phone house en uiteraard hielp ik de vracht in en uitladen.</p>
            	<br>

                <h3>Het Raakpunt GGZ</h3>
            	<p>Aug 2008 – juni 2009, Amersfoort stagiaire, restaurant medewerker</p>
            	<p>Mijn taken en verantwoordelijkheden hier waren het schoonmaken van het restaurant de klanten bedienen voorraden aanvullen en de vaat afwassen in de spoelkeuken.</p>
            	<br>
            </section>
        </div>

        <div class="float-l col-xs-12 col-xl-6 small-container">
            <section id="cv-opleidingen">
                <h2 class="cv--section--h2">Opleidingen</h2>
                <h3>Roc Midden Nederland</h3>
                <p>Sep 2010 – heden, Nieuwegein, Applicatie en Media ontwikkelaar MBO 4.
                <br>
                Geleerde basis vaardigheden; Html Css en Javascript,</p>

                <br>

                <h3>Rea College</h3>
                <p>Aug 2010 – dec 2013, Ermelo, Spw Activiteiten begeleiding mbo 3/4</p>
                <p>Behaalde modules; activiteiten begeleiding, sociale vaardigheden, methodische vaardigheden en begeleiden.<br><br>
                Volledig ECDL diploma <br>
                ECDL-modules; Digiveiligheid, Word 2003, Excel 2007, Windows XP, basis ICT, Powerpoint 2003, Internet Explorer en Outlook 2003.</p>

                <br>

                <h3>Mulock Houwer Fornhese</h3>
                <p>Aug 2006 – juli 2010, Amersfoort, Vmbo</p>
                <p>Behaald; Engels kgt3, Nederlands kgt3, Geschiedenis kgt2, Wiskunde kgt1 en Economie kgt3.</p>
            </section>

            <section id="cv-aanvullende_activiteiten">
        		<h2 class="cv--section--h2">Aanvullende activiteiten</h2>

                <h3>Scouting Zuilen</h3>
        		<p>Jan 2015 – apr 2015, Utrecht, staflid Explorers</p>
        		<p>Bij deze scouting ploeg begeleid ik de groep jongeren tussen 15 en 18 jaar (genaamd de Explorers) en stimuleer ik hun om zelf het programma te maken de sfeer in de groep goed te houden maar grijp in als er over de grens heen gaan om in een strikte leiding rol te stappen.</p>
        		<br>

                <h3>De Lichtkring Careyn</h3>
        		<p>Juli 2012 – heden, Utrecht, vrijwilliger activiteitenegeleiding</p>
        		<p>Tijdens mijn vrijwilligerswerk ben ik mede verantwoordelijk voor de veiligheid van de bewoners en zorg ik er voor dat alles klaar staat voor de activiteit, en tijdens dat de activiteit alles goed verloopt. ik vraag om hulp bij de activiteiten begeleiding indien dit nodig is.</p>
            </section>
        </div>
    </div> <!-- end of row-->

    <div class="row">
        <br>
        <a class="back-to-top-link" href="#top">Terug naar boven</a>
    </div>
</div>  <!-- end of container-->
<div class="float-l col-xs-1"><br></div>
