<!--main -->
<div class="float-l col-xs-1"><br></div>

<div class="float-l col-xs-10 container">
    <div class="row title-wrap">
        <div class="title-head float-l col-xs-12 col-m-12">

            <h1 class="h1">Home</h1>
            <p>Op deze website kunt u alles lezen over mijn vaardigheden als webdeveloper.</p>
            <br>
        </div><!-- end of title head  -->
    </div><!-- end of title wrap  -->

    <div class="row">
        <div class="float-l col-xs-12 col-m-6 small-container">
            <h2>Feit geïnteresseerd</h2>
            <p class="float-l col-xs-12">
                Bent u bijvoorbeeld geïnteresseerd in feiten kijk dan eens bij <a href="index.php?view=cv">mijn cv</a>.
                Wilt u meer zekerheid dat wat er staat geen klink klare onzin is, Dan kunt u de ingescande bewijs stukken zijn bij <a href="index.php?view=bewijsstukken">bewijsstukken</a>.
            </p>
        </div>

        <div class="float-l col-xs-12 col-m-6 small-container">
            <img class="home-img" src="view/assets/images/pagina/home_pasfoto.jpg" width="150em"/>
        </div>
    </div>

    <div class="row">
        <div class="float-l col-xs-12 col-m-6 small-container">
            <h2>Persoons geïnteresseerd</h2>
            <p class="float-l col-xs-12">
                Mocht u nou meer persoons geïnteresseerd zijn dan kunt u kijken bij
                <a href="index.php?view=overmij">over mij</a>.
            </p>
        </div>

        <div class="float-l col-xs-12 col-m-6 small-container">
            <h2>Project geïnteresseerd</h2>
            <p class="float-l col-xs-12">
                Bent u meer project geïnteresseerd in mijn gemaakte projecten dan kunt u kijken bij
                <a href="index.php?view=projectenmetvid">projecten met video</a> of
                <a href="index.php?view=projectenzondervid">projecten zonder video</a>.
            </p>
        </div>
    </div><!-- end of row  -->

    <div class="row">
        <br>
        <a class="back-to-top-link" href="#top">Terug naar boven</a>
    </div>
</div><!-- end of container -->
<div class="float-l col-xs-1"><br></div>
