<!--main -->
<div class="float-l col-xs-1"><br></div>

<div class="float-l col-xs-10 container">
    <div class="row title-wrap">
        <div class="title-head float-l col-xs-12 col-m-12">

            <h1>Over mij</h1>

            <div class="row title-p-wrap">
                <p>Op deze pagina kan je lezen wie ik ben in het stuk <strong><a href="#overmij-wie_ben_ik">Wie ben ik?</a></strong></p>

                <p>Ook kan je lezen over wat mijn huidige skillset is als developer in het stuk <strong><a href="#overmij-wat_kan_ik">Wat kan ik?</a></strong></p>
            </div>

            <div class="row title-p-wrap">
                <p>Als laatst kun je lezen wat mijn ambities zijn in het stuk <strong><a href="#overmij-wat_zijn_mijn">Wat zijn mijn ambities?</a></strong></p>
            </div>
        </div> <!-- end of titlehead-->
    </div> <!-- end of titlewrap-->

    <div class="row">
        <div class="float-l col-xs-6 float-l col-m-6 small-container">
            <section id="overmij-wie_ben_ik">
                <h2>Wie ben ik?</h2>
            	<p>
                    Ik ben Armand geboren in juli-1992.
                    Ik hou van; Gamen, Youtube en Programmeren,
                    Met deze 3 dingen kan ik uren bezig zijn zonder mij te vervelen.
                </p>
            </section>

            <section id="overmij-wat_kan_ik">
                <h2>Wat kan ik?</h2>
                <p>
            		Nu ik het eerste jaar van de opleiding "Applicatie en Media ontwikkeling" heb afgerond, Heb ik al ervaring opgedaan in de volgende programmeer talen.
                </p>
                <ul>
                    <li><strong>HTML5:</strong> Ik heb goed kennis genomen van html5 en kan de rest opzoeken bijvoorbeeld via w3schools of via teamtreehouse.com.</li>
                    <li><strong>CSS3:</strong> CSS3 heb ik behandelt ik weet hoe ik webpagina's kan en moet stylen maar ik zou mijn artistiek gevoel graag verder willen ontwikkelen</li>
                    <li><strong>JavaScript:</strong> Met JavaScript heb ik veel geoefend en ben hier aardig vaardig in dit is onder andere te zien in 3 van mijn projecten onder andere; rekenmachine, Boter_Kaas_en_eieren en Draughts.</li>
                    <li><strong>PHP:</strong> Met PHP heb ik regelmatig geoefent ik heb een kleine libary op git staan met php functies die je kan bekijken.</li>
                    <li><strong>SQL:</strong> Met SQL heb ik de kennis om een kleine simpele database te ontwikkelen heb ik. Ook heb verstand van erd's en relationele modellen.</li>
                </ul>
            </section>
        </div>
        <div class="float-l col-xs-6 float-l col-m-6 small-container">
            <section id="overmij-wat_zijn_mijn">
            	<h2>Wat zijn mijn ambities?</h2>
            	<p>
                    Graag  wil ik mijn opleiding Applicatie en media ontwikkeling niveau 4 afmaken.
            		Hierna wil ik graag dit vak verder studeren maar dan HBO.
            		En wellicht begin ik daarna voor mezelf of ga ik een universitaire studie doen,
            		maar dit is 7 jaar verder tijd genoeg om er over na te denken.
                </p>
            </section>
        </div>
    </div> <!-- end of row-->

    <div class="row">
        <br>
        <a class="back-to-top-link" href="#top">Terug naar boven</a>
    </div>
</div> <!-- end of container-->
<div class="float-l col-xs-1"><br></div>
