<div class="row">
    <div class="col-xs-12 col-s-6 col-m-4">
        <div class="beheer_overzicht_knop_wrap">
            <a href="{appdir}/redacteur/inhoud_toe" class="beheer_overzicht_knop">Inhoud Toevoegen</a>
        </div>
    </div>

    <div class="col-xs-12 col-s-6 col-m-4">
        <div class="beheer_overzicht_knop_wrap">
            <a href="{appdir}/redacteur/bios_toe" class="beheer_overzicht_knop">Bios Toevoegen</a>
        </div>
    </div>

    <!-- <div class="col-xs-12 col-s-6 col-m-4">
        <div class="beheer_overzicht_knop_wrap">
            <a href="../redacteur/bios_toe" class="beheer_overzicht_knop">Bios Toevoegen</a>
        </div>
    </div> -->
</div>
