<div class="marginner"></div>
<div class="col-xs-1 col-s-2 col-m-3"><br></div>
<div class="col-xs-10 col-s-8 col-m-6 form--center">
    <form method="post" class="form--center--form" id="bios_form">
        <label for="naam">*Bioscoop naam</label><br>
        <input type="text" name="naam" id="naam"  required><br>

        <label for="straat">*Straat</label><br>
        <input type="text" name="straat" id="straat" required><br>

        <label for="postcode">*Postcode</label><br>
        <input type="text" name="postcode" id="postcode" required><br>

        <label for="bericht">*Plaats</label><br>
        <input type="text" name="plaats" id="plaats" required></input><br>

        <label for="bericht">*Provincie</label><br>
        <input type="text" name="provincie" id="provincie" required></input><br>

        <label for="informatie">*Informatie</label><br>
        <textarea name="informatie" id="informatie" required></textarea><br>

        <label for="Openingstijden">*Openingstijden</label><br>
        <textarea name="Openingstijden" id="Openingstijden" required></textarea><br>

        <label for="bereikbaarheidauto">*Bereikbaarheid auto</label><br>
        <textarea name="bereikbaarheidauto" id="bereikbaarheidauto"required ></textarea><br>

        <label for="bereikbaarheidov">*Bereikbaarheid ov</label><br>
        <textarea name="bereikbaarheidov" id="bereikbaarheidov" required></textarea><br>

        <label for="bereikbaarheidfiets">*Bereikbaarheid fiets</label><br>
        <textarea name="bereikbaarheidfiets" id="bereikbaarheidfiets" required></textarea><br>

        <label for="rolstoel">*Rolstoeltoegankelijkheid</label><br>
        <textarea required name="rolstoel" id="rolstoel"></textarea><br>

        <input class="form--verzend_knop" type="submit" name="create_bios" value="Create"><br>

        <label>*is verplicht</label>
    </form>
</div>
<div class="col-xs-1 col-s-2 col-m-3"><br></div>
<div class="marginner"></div>
