<div class="marginner"></div>
<div class="col-xs-1 col-s-2 col-m-3"><br></div>
<div class="col-xs-10 col-s-8 col-m-6 form--center">
    <form action="{page}" method="post" class="form--center--form">
        <label for="naam">*Naam</label><br>
        <input type="text" name="naam" id="naam" placeholder="Linda" required><br>

        <label for="email">*Email</label><br>
        <input type="email" name="email" id="email" placeholder="voorbeeld@email.com" required><br>

        <label for="telefoon">Telefoon</label><br>
        <input type="number" name="telefoon" id="telefoon" placeholder="Bijvoorbeeld +31-69365025" min="1"><br>

        <label for="bericht">*Onderwerp</label><br>
        <input type="text" name="onderwerp" id="onderwerp" placeholder="Typ hier uw onderwerp" required></input><br>

        <label for="bericht">*Bericht</label><br>
        <textarea rows="9" cols="60" type="text" name="bericht" id="bericht" placeholder="Type hier je bericht." required ></textarea><br>

        <input class="form--verzend_knop" type="submit" name="submit" value="Verzenden"><br>

        <label>*is verplicht</label>
    </form>
</div>
<div class="col-xs-1 col-s-2 col-m-3"><br></div>
<div class="marginner"></div>
