
<div class="col-xs-12">
    <h1 class="homeText1" >Wijzig de {page-title} tekst</h1>
</div>
<div class="col-xs-3">

</div>
<div class="col-xs-7">
    <form action="{appdir}/content/sendData" method="post">
        <input type="hidden" name="contentId" value="{content-id}">

        <label>Tab titel wijzigen</label>
        <textarea name="tab_titel" rows="3" cols="80">
            {tab_titel}
        </textarea><br>

        <label>Pagina titel wijzigen</label>
        <textarea name="pagina_titel" rows="3" cols="80">
            {pagina_titel}
        </textarea><br>

        <label>Inhoud naam wijzigen</label>
        <textarea name="content_naam" rows="4" cols="80">
            {content_naam}
        </textarea><br>

        <label>Inhoud wijzigen</label>
        <textarea name="content0" rows="8" cols="80">
            {content0}
        </textarea><br>

        <label>Pagina beschrijving wijzigen</label>
        <textarea name="pagina_beschrijving" rows="8" cols="80">
            {pagina_beschrijving}
        </textarea><br>

        <label>Steekwoorden wijzigen</label>
        <textarea name="steekwoorden" rows="6" cols="80">
            {steekwoorden}
        </textarea><br>

        <input class="float-l homeButton3" type="submit" >
    </form>
</div>
<div class="col-xs-2"></div>
<div class="marginner"></div>
<div class="marginner"></div>
