<div class="marginner"></div>
<h1>Persoonsgegevens</h1>
<div class="col-xs-1 col-s-2 col-m-3"><br></div>
<div class="col-xs-10 col-s-8 col-m-6 form--center">
    <form method="post" class="form--center--form" id="bios_form">
        <label for="naam">*klantnaam</label><br>
        <input type="text" name="naam" id="naam"  required><br>

        <label for="straat">*klantadres</label><br>
        <input type="text" name="straat" id="straat" required><br>

        <label for="postcode">*postcode</label><br>
        <input type="text" name="postcode" id="postcode" required><br>

        <label for="bericht">*Plaats</label><br>
        <input type="text" name="plaats" required></input><br>

        <label for="bericht">*Provincie</label><br>
        <input type="text" name="provincie" id="provincie" required></input><br>

        <label for="bericht">*telefoonnummer</label><br>
        <input type="text" name="telefoonnummer" required></input><br>

        <label for="bericht">*E-mail</label><br>
        <input type="text" name="email" required></input><br>

        <input class="form--verzend_knop" type="submit" name="klanten-gegevens" value="Naar betaalmethode"><br>

        <label>*is verplicht</label>
    </form>
</div>
<div class="col-xs-1 col-s-2 col-m-3"><br></div>
<div class="marginner"></div>
