// ===========================
// Color styling thirdLayer
// ===========================

.video-wrap {
	padding: 15px;
}

//sets the style for the third layer
.third-layer {
	border-radius:2px;
	// border: grey solid 1px;
	// background-color: rgba(255, 255, 255, 0.8);
	// padding: 15px 30px;
	// margin: 30px 0px 0px 0px;
}

.third-layer h2 {
	padding: 10px;
	margin: 0px;
}
.third-layer h3 {
	padding: 20px 0px 5px 0px;
	margin: 0px;
}
.third-layer p {
	padding: 0px;
	margin: 0px;
}

// Paragraph link styles
.third-layer a {
	color: black;
	cursor: pointer;
	padding: 0px;
	margin-top: 0px;
}

.third-layer a:hover {
	color: #000;
	text-shadow: 1px 1px 1px #080;
}

// =========================
// Project no vid styles
// =========================

// lets the image fill the content balloon
.project_nv img {
	max-width: 100%;
	margin: 0px 0px;
}

.project_nv {
	padding:10px;
}

.project_nv p {
	margin: 0px 5px;
}

.project_nv h3 {
	margin: 0px 5px;
}
