// ========================
// 4th layer colors
// ========================
.vwrap {
	padding: 0px;
	margin: 0px;
}

.fourth-layer-extra {
	text-shadow: 3px 2px 2px black;
	box-shadow: 3px 3px 8px 1px black;
}

// sets the border for the 4th layer
.header-logo {
	border: solid black 1px;
}

// sets the hover background color for the 4th layer
.fourth-layer-wrap {
	margin-top: 30px;
	background-color: none;
	padding: 0px 15px 0px 0px;
	margin: 0px;
}
