// ===========================
// Title/Intro styling
// ===========================

.title-wrap {
	padding: 15px 15px;
}

// title container styles
.title-head {
	border-radius:2px;
	// border: grey solid 1px;
	// background-color: rgba(255, 255, 255, 0.8);
	display: table;
	padding: 10px 0px 20px 0px;
	// margin: 15px 0px 0px 0px;
}

// title head styles
.title-head h1 {
	padding: 5px;

	margin-top: 3px;
	margin-right: 0;
	margin-bottom: -15px;
	margin-left: 0;

}

// paragraph styles
.title-p-wrap p  {
	text-align: left;
	margin: 7px 0px 0px 0px;
	padding: 5px 10px;
	width: 100%;
}

// paragraph link styles
.title-p-wrap p strong a {
	color: black;
	cursor: pointer;
	padding: 0px;
}

.title-p-wrap p strong a:hover {
	color: #000;
	text-shadow: 1px 1px 1px #080;
}

@media(min-width: 600px) {
	.title-wrap {
		padding: 0px 15px;
		margin: 0px;
		text-decoration: none;
	}

	.title-head p {
		padding: 0 10px;
	}

	.title-head h2 {
		padding: 0 10px;
	}
}
