ErrorDocument 404 /index.php?view=404

RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^projecten+-([A-Za-z0-9-]+)/?$       /index.php?view=projecten&subview=$1     [NC,L]      # Process project folder request
RewriteRule    ^([^/d]+)/?$                         /index.php?view=$1                       [NC,L,QSA]  # Process a regular request
